.navbar{margin-bottom:5% ;}
.body{background-color: rgb(244, 242, 208);}
.imgCarrito {width: 30px;height: 30px;}
.articulos{width: 50px;height: 50px;}

.imgCarousel{width: 45%; height: 35%;margin-left: 26%;color: black;margin-bottom: 5%;}
.carouselText{ font-size: 18px;font-weight: 600; color: rgb(204, 204, 173);}
.container-fluid{margin:0,0, 5%,0 }

.card{margin: 2%;}
.card-body{background-color: white;margin-bottom: 3px;text-align: center;}

.card-bodyDark{background-color: hsl(0, 0,33);margin-bottom: 3px;text-align: center;}

.darkMode{background-color: rgb(68, 67, 67);color: black;}

.detalle{margin-left: 33%;}